# Виртуальное окружение
venv/
.venv/

# Секреты (пароль от БД!)
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/